{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <span class="subheading">Amos The Python Decorator</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Join millions of others
                    Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on
                    Amos' Blog. Sign up to discover why millions of people have published their passions here.</p>
                <p> How to Easily Start a Blog and Monetize It in 2023
                    Choose a blogging platform. Use a platform that offers customizable templates.
                    Pick a hosting platform. ...
                    Find the right niche. ...
                    Select a blog name and domain. ...
                    Set up and design your blog. ...
                    Brainstorm blog topics. ...
                    Write your first blog post. ...
                    Create an editorial calendar.
                </p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
{% include "footer.html" %}
