{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Create Your Post</h1>
                    <span class="subheading">Share your thoughts and creativity.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ ckeditor.load() }}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <div class="my-5">
                        <form class="row g-3" method="POST" action="{{ url_for('add') }}" novalidate>
                            {{ form.csrf_token }}
                            <div class="col-md-8">
                                {{ form.title.label(class="form-label") }}
                                {{ form.title(class="form-control") }}
                            </div>
                            {% for error in form.title.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <div class="col-md-8">
                                {{ form.subtitle.label(class="form-label") }}
                                <div class="input-group">
                                    {{ form.subtitle(class="form-control") }}
                                </div>
                            </div>
                            {% for error in form.subtitle.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <div class="col-md-8">
                                {{ form.img_url.label(class="form-label") }}
                                <div class="input-group">
                                    {{ form.img_url(class="form-control") }}
                                </div>
                            </div>
                            {% for error in form.img_url.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <div class="col-md-8">
                                {{ form.new_blog_post.label(class="form-label") }}
                                {{ form.new_blog_post(class="form-control", placeholder="Type your message here") }}
                            </div>
                            {% for error in form.new_blog_post.errors %}
                            <span style="color: red"> {{ error }}</span>
                            {% endfor %}
                            <div class="col-12 border-top-5">
                                {{ form.create(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
{% include "footer.html" %}