{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>FAQs</h1>
                    <span class="subheading">Amos The Python Decorator</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>How can you make your first $1,000?</h2>
                <p>It's not that easy but yeah it's quite possible. As a matter of fact, People are making huge with
                    blogging. Do you have ever heard of Event Blogging? If no then let me tell you, what exactly does it
                    means. <br><br>
                    “A blog which is made to target a single day or week or month for receiving the huge amount of
                    traffic is called event niche blog. Example: Happy New Year (Target: one day or week) Indian Premier
                    League (Target: Almost 50 Days) In the short span of time, you can make huge income.”
                    Still with me? <br><br>
                    Now, How can you do Event Blogging? <br>
                    Suppose, today is Valentine day and you have an internet connection and Smartphone or laptop, what
                    will you do? <br><br>
                    Most probably, you will search something about valentine day like Happy Valentine Day Wishes
                    Valentine Day Gifts for girlfriend
                    You are not alone in the world; there are millions and billions of people who do similar search
                    about a particular topic.
                </p>
                <p> And mostly they go through Google or any other search engines. <br><br>

                    So in event blogging, we do create a blog on a particular topic (eg. Valentine) and by doing search
                    engine optimization we do rank our website at the top position in the search engines. <br><br>

                    If my website is on the first page, with a good keyword then I will get millions of traffic in a
                    single day. By monetizing my blog with Advertisements (Adsense), I can make $$$$ in a single day.
                </p>
                <h2> Now how to do the same as they do,</h2>
                <p> => Choose An Event: Choose an Event which is popular such as a Festival or a Sports (IPL)<br><br>

                    => Buy a Domain: Buy a Keyword domain for example if you are going to target Valentine's Day then
                    Valentine's day should be in the domain name. Such as Valentinesdaywishes.com<br><br>

                    => Keyword Research: Do some keyword research, Check and analyse competition and then work. Keyword
                    research is one of the most important thing for a Event blog.<br><br>

                    => Content Creation: Create content with targetted keywords.<br><br>

                    => Backlinks: Make Backlinks and make as much as you can. (Put anchors as a main keyword)<br><br>

                    Tip: Comment Backlinks are best for Event Blogging. You can use directory submissions as well.<br><br>

                    => Regular Content Update: Update your content on regular basis.<br><br>

                    => Social Shares on Posts: This is one the things that Google loves. Social shares helps a lot in
                    rankings so share your posts on social media platforms. (Google Plus helps me a lot)</p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
{% include "footer.html" %}
