{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Hello {{ name }},</h1>
                    <span class="subheading">Welcome to Amos' Blog. We provide the best trending news contents.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <hr class="my-4"/>
            <!-- Post preview-->
            {% if not all_post: %}
            <h2>No Blog Post Yet</h2>
            {% else: %}
            {% for post in all_post: %}
            <div class="post-preview">
                <a href="{{ url_for('read_post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                </a>
                <p class="post-meta">Posted by<a href="{{ url_for('read_post', post_id=post.id) }}">
                    {{ post.post_author.name }}</a> on {{ post.date }}
                </p>
                <hr class="my-4"/>
                {% if current_user.id == 1 %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right mb-2" href="{{url_for('edit', post_id=post.id)}}">Edit
                        Post</a>
                </div>
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{url_for('delete', post_id=post.id)}}">Delete Post</a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if current_user.id == 1 %}
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                                                href="{{ url_for('add') }}">Create Post</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
{% include "footer.html" %}
